.contact {
  height: 77rem;
  width: 100%;
  background-color: #0d0d0d;
  padding: 4rem 4rem;

  .contacts {
    @media (max-width: 1060px) {
      margin-left: 24rem !important;
    }

    @media (max-width: 991px) {
      margin-left: 18rem !important;
    }

    @media (max-width: 767px) {
      margin-left: 12rem !important;
    }

    @media (max-width: 600px) {
      margin-left: 6rem !important;
    }

    @media (max-width: 426px) {
      margin-left: 3rem !important;
    }

    .contact-subtitle {
      @media (max-width: 767px) {
        font-size: 5rem !important;
      }

      @media (max-width: 426px) {
        font-size: 3.5rem !important;
      }
    }

    .icons {
      @media (max-width: 426px) {
        display: grid !important;
      }
    }

    .contact-subparagraph {
      @media (max-width: 767px) {
        font-size: 2rem !important;
      }

      @media (max-width: 426px) {
        font-size: 1.6rem !important;
      }
    }
  }
}
